@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #ffffff;
    color: #111;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    cursor: pointer;
}

input,
textarea,
select {
    font-family: inherit;
}

img {
    display: block;
    max-width: 100%;
}